* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../page-images/stars.svg");
  background-color: black;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 40px;
  font-weight: 600;
  color: chartreuse;
  -webkit-text-stroke: 1px white;
  height: 100vh;
  width: 100%;
}

.home-img {
  width: 600px;
}
.btn-home {
  padding: 10px;
  border: 2px solid white;
  border-radius: 5px;
  background-color: chartreuse;
  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  font-weight: 600;
  margin-top: 20px;
  letter-spacing: 2px;
}
